<div class="yz-navbar">

  <div class="yz-navbar-left"></div>

  <div class="yz-navbar-content">标题</div>

  <div class="yz-navbar-right">
    <div class="yz-popover yz-navbar-item">
      <span class="yz-popover-icon"> + </span>
      <div class="yz-popover-panel yz-popover-panel-show" >
        <div class="yz-popover-item">动作1</div>
        <div class="yz-popover-item">动作1</div>
        <div class="yz-popover-item">动作1</div>
        <div class="yz-popover-item">动作1</div>
      </div>
    </div>
  </div>

</div>
