
<div class="yz-panel yz-panel_access">
  <div class="yz-panel__hd">文字组合列表</div>
  <div class="yz-panel__bd">
    <div class="yz-media-box yz-media-box_text">
      <h4 class="yz-media-box__title">标题一</h4>
      <p class="yz-media-box__desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
    </div>
    <div class="yz-media-box yz-media-box_text">
      <h4 class="yz-media-box__title">标题二</h4>
      <p class="yz-media-box__desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
    </div>
  </div>
  <div class="yz-panel__ft">
    <a href="javascript:void(0);" class="yz-cell yz-cell_access yz-cell_link">
      <div class="yz-cell__bd">查看更多</div>
      <span class="yz-cell__ft"></span>
    </a>    
  </div>
</div>

