
<div class="yz-cells__title">复选列表项</div>
<div class="yz-cells yz-cells_checkbox">
  <label class="yz-cell yz-check__label" for="s11">
    <div class="yz-cell__hd">
      <input type="checkbox" class="yz-check" name="checkbox1" id="s11" checked="checked"/>
      <i class="yz-icon-checked"></i>
    </div>
    <div class="yz-cell__bd">
      <p>standard is dealt for u.</p>
    </div>
  </label>
  <label class="yz-cell yz-check__label" for="s12">
    <div class="yz-cell__hd">
      <input type="checkbox" name="checkbox1" class="yz-check" id="s12"/>
      <i class="yz-icon-checked"></i>
    </div>
    <div class="yz-cell__bd">
      <p>standard is dealicient for u.</p>
    </div>
  </label>
  <a href="javascript:void(0);" class="yz-cell yz-cell_link">
    <div class="yz-cell__bd">添加更多</div>
  </a>
</div>


