<div class="yz-cells__title">表单</div>
<div class="yz-cells yz-cells_form">
  <div class="yz-cell">
    <div class="yz-cell__hd"><label class="yz-label">qq</label></div>
    <div class="yz-cell__bd">
      <input class="yz-input" type="number" pattern="[0-9]*" placeholder="请输入qq号"/>
    </div>
  </div>
  <div class="yz-cell yz-cell_vcode">
    <div class="yz-cell__hd">
      <label class="yz-label">手机号</label>
    </div>
    <div class="yz-cell__bd">
      <input class="yz-input" type="tel" placeholder="请输入手机号"/>
    </div>
    <div class="yz-cell__ft">
      <button class="yz-vcode-btn">获取验证码</button>
    </div>
  </div>
  <div class="yz-cell">
    <div class="yz-cell__hd"><label for="" class="yz-label">日期</label></div>
    <div class="yz-cell__bd">
      <input class="yz-input" type="date" value=""/>
    </div>
  </div>
  <div class="yz-cell">
    <div class="yz-cell__hd"><label for="" class="yz-label">时间</label></div>
    <div class="yz-cell__bd">
      <input class="yz-input" type="datetime-local" value="" placeholder=""/>
    </div>
  </div>
  <div class="yz-cell yz-cell_vcode">
    <div class="yz-cell__hd"><label class="yz-label">验证码</label></div>
    <div class="yz-cell__bd">
      <input class="yz-input" type="number" placeholder="请输入验证码"/>
    </div>
    <div class="yz-cell__ft">
      <img class="yz-vcode-img" src="../images/vcode.jpg" />
    </div>
  </div>
</div>
<div class="yz-cells__tips">底部说明文字底部说明文字</div>

<div class="yz-cells__title">表单报错</div>
<div class="yz-cells yz-cells_form">
  <div class="yz-cell yz-cell_warn">
    <div class="yz-cell__hd"><label for="" class="yz-label">卡号</label></div>
    <div class="yz-cell__bd">
      <input class="yz-input" type="number" pattern="[0-9]*" value="yz input error" placeholder="请输入卡号"/>
    </div>
    <div class="yz-cell__ft">
      <i class="yz-icon-warn"></i>
    </div>
  </div>
</div>



