<div class="yz-cells__title">单选列表项</div>
<div class="yz-cells yz-cells_radio">
  <label class="yz-cell yz-check__label" for="x11">
    <div class="yz-cell__bd">
      <p>cell standard</p>
    </div>
    <div class="yz-cell__ft">
      <input type="radio" class="yz-check" name="radio1" id="x11"/>
      <span class="yz-icon-checked"></span>
    </div>
  </label>
  <label class="yz-cell yz-check__label" for="x12">

    <div class="yz-cell__bd">
      <p>cell standard</p>
    </div>
    <div class="yz-cell__ft">
      <input type="radio" name="radio1" class="yz-check" id="x12" checked="checked"/>
      <span class="yz-icon-checked"></span>
    </div>
  </label>
  <a href="javascript:void(0);" class="yz-cell yz-cell_link">
    <div class="yz-cell__bd">添加更多</div>
  </a>
</div>

