
<div class="yz-cells__title">开关</div>
<div class="yz-cells yz-cells_form">
  <div class="yz-cell yz-cell_switch">
    <div class="yz-cell__bd">标题文字</div>
    <div class="yz-cell__ft">
      <input class="yz-switch" type="checkbox"/>
    </div>
  </div>
  <div class="yz-cell yz-cell_switch">
    <div class="yz-cell__bd">兼容IE Edge的版本</div>
    <div class="yz-cell__ft">
      <label for="switchCP" class="yz-switch-cp">
        <input id="switchCP" class="yz-switch-cp__input" type="checkbox" checked="checked"/>
        <div class="yz-switch-cp__box"></div>
      </label>
    </div>
  </div>
</div>


