<div class="yz-tab yz-nav-top yz-nav-bottom yz-chat-wrap">
  <div class="yz-navbar">
    <div class="yz-navbar-left">
    </div>
    <div class="yz-navbar-content">
      野子云
    </div>
    <div class="yz-navbar-right">
    </div>
  </div>

  <div class="yz-tab-panel">
    <div class="yz-chat-list">

      <div class="yz-chat-item">
        <div class="yz-chat-avatar">
          <img src="../images/pic_160.png" />
        </div>
        <div class="yz-chat-content ">
          分解及饿哦无人接吻日肉为己
        </div>
        <div class="yz-chat-avatar"></div>
      </div>
      <div class="yz-chat-item yz-chat-item-right">
        <div class="yz-chat-avatar"> </div>
        <div class="yz-chat-content ">
          分解及饿哦无人接吻日肉为己任街无人机我
        </div>
        <div class="yz-chat-avatar">
          <img src="../images/pic_160.png" />
        </div>
      </div>

    </div>
  </div>

  <div class="yz-chat">
    <div class="yz-chat-panel">
      <div class="yz-chat-swicher">
        <i class="iconfont icon-yuyin1"></i>
        <i class="iconfont icon-ziyuan" style="display: none;"></i>
      </div>
      <div class="yz-chat-input-wrap">
        <div contenteditable="true" class="yz-chat-input" style="display: none;"></div>
        <div class="yz-chat-input yz-chat-input-voice">按住 说话</div>
      </div>
      <div class="yz-chat-actions">
        <i class="iconfont icon-tianjia"></i>
      </div>
    </div>
    <div class="yz-action-picker">
      <div class="yz-action-picker-content">

        <div class="yz-action-picker-block">
          <div class="yz-action-picker-icon">
            <i class="iconfont icon-morentu"></i>
          </div>
          <div class="yz-action-picker-title">
            图片
          </div>
        </div>


        <div class="yz-action-picker-block">
          <div class="yz-action-picker-icon">
            <i class="iconfont icon-morentu"></i>
          </div>
          <div class="yz-action-picker-title">
            图片
          </div>
        </div>


        <div class="yz-action-picker-block">
          <div class="yz-action-picker-icon">
            <i class="iconfont icon-morentu"></i>
          </div>
          <div class="yz-action-picker-title">
            图片
          </div>
        </div>



        <div class="yz-action-picker-block">
          <div class="yz-action-picker-icon">
            <i class="iconfont icon-morentu"></i>
          </div>
          <div class="yz-action-picker-title">
            图片
          </div>
        </div>

        <div class="yz-action-picker-block">
          <div class="yz-action-picker-icon">
            <i class="iconfont icon-morentu"></i>
          </div>
          <div class="yz-action-picker-title">
            图片
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
