

.yz-btn {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 14px;
    padding-right: 14px;
    box-sizing: border-box;
    font-size: $yzBtnFontSize;
    text-align: center;
    text-decoration: none;
    color: $yzBtnFontColor;
    line-height: ($yzBtnHeight/$yzBtnFontSize);
    border-radius: $yzBtnBorderRadius;
    @include setTapColor();
    overflow: hidden;

    &:after {
        content: " ";
        width: 200%;
        height: 200%;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid rgba(0, 0, 0, .2);
        transform: scale(.5);
        transform-origin: 0 0;
        box-sizing: border-box;
        border-radius: $yzBtnBorderRadius*2;
    }
}
.yz-btn-inline {
    display: inline-block;
    padding: 0 15px;
}
