@import "../base/mixin/mobile";

$px-origin: 1px;

@for $n from 1 through 60 {
  @if $n % 5 == 0 {
    .p#{$n} {
      padding: $px-origin;
    }
    .m#{$n} {
      margin: $px-origin;
    }
    .mt#{$n} {
      margin-top: $px-origin;
    }
    .mb#{$n} {
      margin-bottom: $px-origin;
    }
    .ml#{$n} {
      margin-left: $px-origin;
    }
    .mr#{$n} {
      margin-right: $px-origin;
    }
    .pl#{$n} {
      padding-left: $px-origin;
    }
    .pr#{$n} {
      padding-right: $px-origin;
    }
    .pt#{$n} {
      padding-top: $px-origin;
    }
    .pb#{$n} {
      padding-bottom: $px-origin;
    }
  }
  $px-origin: $px-origin + 1px;
}

.hide {
  display: none;
}

.show {
  display: block;
}
.yz-img-md {
  width: 60px;
  height: 60px;
  img {
    width: 100%;
    height: 100%;
    border: 0 none;
  }
}
.yz-img-lg {
  width: 80px;
  height: 80px;
  img {
    width: 100%;
    height: 100%;
    border: 0 none;
  }

}

.yz-img-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1px;
  margin-right: -1px;
  width: 100%;
  overflow: hidden;

  &.yz-img-list-4 {
    .yz-img-item {
      width: 25%;
    }
  }

  &.yz-img-list-3 {
    .yz-img-item {
      width: 33.3%;
    }
  }
}
.yz-img {
  width: 100%;
  height: 100%;
}

.yz-img-item {
  padding: 1px;
  box-sizing: border-box;
  width: 80px;
}

.yz-link-block {
  border-radius: 4px;
  background-color: #f4f4f6;
  @include setTapColor();
}

