
<div class="yz-progress">
  <div class="yz-progress__bar">
    <div class="yz-progress__inner-bar js_progress" style="width: 0%;"></div>
  </div>
  <a href="javascript:;" class="yz-progress__opr">
    <i class="yz-icon-cancel"></i>
  </a>
</div>

<br>

<div class="yz-progress">
  <div class="yz-progress__bar">
    <div class="yz-progress__inner-bar js_progress" style="width: 50%;"></div>
  </div>
  <a href="javascript:;" class="yz-progress__opr">
    <i class="yz-icon-cancel"></i>
  </a>
</div>

<br>

<div class="yz-progress">
  <div class="yz-progress__bar">
    <div class="yz-progress__inner-bar js_progress" style="width: 80%;"></div>
  </div>
  <a href="javascript:;" class="yz-progress__opr">
    <i class="yz-icon-cancel"></i>
  </a>
</div>


