
<a href="javascript:;" class="yz-btn yz-btn-default" id="showIOSActionSheet">iOS ActionSheet</a>
<div style="position: relative;">
  <div class="yz-mask" id="iosMask" style="display: none"></div>
  <div class="yz-actionsheet" id="iosActionsheet">
    <div class="yz-actionsheet__title">
      <p class="yz-actionsheet__title-text">这是一个标题，可以为一行或者两行。</p>
    </div>
    <div class="yz-actionsheet__menu">
      <div class="yz-actionsheet__cell">示例菜单</div>
      <div class="yz-actionsheet__cell">示例菜单</div>
      <div class="yz-actionsheet__cell">示例菜单</div>
      <div class="yz-actionsheet__cell">示例菜单</div>
    </div>
    <div class="yz-actionsheet__action">
      <div class="yz-actionsheet__cell" id="iosActionsheetCancel">取消</div>
    </div>
  </div>
</div>

