<div class="yz-flex">
  <div class="yz-flex__item"><div class="placeholder">yz</div></div>
</div>
<div class="yz-flex">
  <div class="yz-flex__item"><div class="placeholder">yz</div></div>
  <div class="yz-flex__item"><div class="placeholder">yz</div></div>
</div>
<div class="yz-flex">
  <div class="yz-flex__item"><div class="placeholder">yz</div></div>
  <div class="yz-flex__item"><div class="placeholder">yz</div></div>
  <div class="yz-flex__item"><div class="placeholder">yz</div></div>
</div>
<div class="yz-flex">
  <div class="yz-flex__item"><div class="placeholder">yz</div></div>
  <div class="yz-flex__item"><div class="placeholder">yz</div></div>
  <div class="yz-flex__item"><div class="placeholder">yz</div></div>
  <div class="yz-flex__item"><div class="placeholder">yz</div></div>
</div>
<div class="yz-flex">
  <div><div class="placeholder">yz</div></div>
  <div class="yz-flex__item"><div class="placeholder">yz</div></div>
  <div><div class="placeholder">yz</div></div>
</div>

