
<div class="yz-grids">
  <a href="javascript:;" class="yz-grid">
    <div class="yz-grid__icon">
      <img src="../images/icon_tabbar.png" alt="">
    </div>
    <p class="yz-grid__label">Grid</p>
  </a>
  <a href="javascript:;" class="yz-grid">
    <div class="yz-grid__icon">
      <img src="../images/icon_tabbar.png" alt="">
    </div>
    <p class="yz-grid__label">Grid</p>
  </a>
  <a href="javascript:;" class="yz-grid">
    <div class="yz-grid__icon">
      <img src="../images/icon_tabbar.png" alt="">
    </div>
    <p class="yz-grid__label">Grid</p>
  </a>
  <a href="javascript:;" class="yz-grid">
    <div class="yz-grid__icon">
      <img src="../images/icon_tabbar.png" alt="">
    </div>
    <p class="yz-grid__label">Grid</p>
  </a>
  <a href="javascript:;" class="yz-grid">
    <div class="yz-grid__icon">
      <img src="../images/icon_tabbar.png" alt="">
    </div>
    <p class="yz-grid__label">Grid</p>
  </a>
  <a href="javascript:;" class="yz-grid">
    <div class="yz-grid__icon">
      <img src="../images/icon_tabbar.png" alt="">
    </div>
    <p class="yz-grid__label">Grid</p>
  </a>
  <a href="javascript:;" class="yz-grid">
    <div class="yz-grid__icon">
      <img src="../images/icon_tabbar.png" alt="">
    </div>
    <p class="yz-grid__label">Grid</p>
  </a>
  <a href="javascript:;" class="yz-grid">
    <div class="yz-grid__icon">
      <img src="../images/icon_tabbar.png" alt="">
    </div>
    <p class="yz-grid__label">Grid</p>
  </a>
  <a href="javascript:;" class="yz-grid">
    <div class="yz-grid__icon">
      <img src="../images/icon_tabbar.png" alt="">
    </div>
    <p class="yz-grid__label">Grid</p>
  </a>
</div>
