.yz-white-space {
  height: 6px;

  &.yz-white-space-xs {
    height: 3px;
  }

  &.yz-white-space-sm {
    height: 6px;
  }

  &.yz-white-space-md {
    height: 9px;
  }

  &.yz-white-space-lg {
    height: 15px;
  }

  &.yz-white-space-xl {
    height: 21px;
  }
}

.yz-white-space-xs {
  height: 3px;
}

.yz-white-space-sm {
  height: 6px;
}

.yz-white-space-md {
  height: 9px;
}

.yz-white-space-lg {
  height: 15px;
}

.yz-white-space-xl {
  height: 21px;
}
