

@import "../../style/base/fn";
@import "vars";

.yz-tabbar-content {
  padding: 12px 12px ($navbarHeight + 12px);
}

.yz-tabbar {
    display: flex;
    position: fixed;
    z-index: 500;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #F7F7FA;

    &:before {
        @include setTopLine(#C0BFC4);
    }
}

.yz-tabbar-item {
    display: block;
    flex: 1;
    padding: 3px 0 0;
    font-size: 0;
    color: $yzTextColorGray;
    text-align: center;
    @include setTapColor();

    &.yz-tabbar-item-on {
        .yz-tabbar-icon,
        .yz-tabbar-icon > i,
        .yz-tabbar-label {
            color: $yzColorPrimary;
        }
    }
}

.yz-tabbar-icon {
    display: inline-block;
    width: 27px;
    height: 27px;

    &i,
    > i {
        font-size: 24px;
        color: $yzTextColorGray;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.yz-tabbar-label {
    text-align: center;
    color: $yzTextColorGray;
    font-size: 10px;
    line-height: 1.8;
}
