<div class="yz-tab yz-nav-bottom">

  <div class="yz-tab-panel">
    内容
    里吃
  </div>

  <div class="yz-tabbar">
    <a href="javascript:;" class="yz-tabbar-item yz-tabbar-item-on">
      <span class="yz-tabbar-icon-wrap">
        <i class="iconfont icon-pinglun yz-tabbar-icon"></i>
        <span class="yz-badge yz-badge-corner" >8</span>
      </span>
      <p class="yz-tabbar-label">微信</p>
    </a>
    <a href="javascript:;" class="yz-tabbar-item">
      <i class="iconfont icon-wode yz-tabbar-icon"></i>
      <p class="yz-tabbar-label">通讯录</p>
    </a>
    <a href="javascript:;" class="yz-tabbar-item">
      <span class="yz-tabbar-icon-wrap">
        <i class="iconfont icon-wode yz-tabbar-icon"></i>
        <span class="yz-badge yz-badge-corner yz-badge-dot"></span>
      </span>
      <p class="yz-tabbar-label">发现</p>
    </a>
    <a href="javascript:;" class="yz-tabbar-item">
      <i class="iconfont icon-wode yz-tabbar-icon"></i>
      <p class="yz-tabbar-label">我</p>
    </a>
  </div>

</div>

