<div class="yz-tab yz-nav-bottom">

  <div class="yz-tab-panel">
    内容
    里吃
  </div>

  <div class="yz-tabbar">
    <a href="javascript:;" class="yz-tabbar-item yz-tabbar-item-on">
      <span style="display: inline-block;position: relative;">
        <img src="../images/icon_tabbar.png" alt="" class="yz-tabbar-icon">
        <span class="yz-badge" style="position: absolute;top: -2px;right: -13px;">8</span>
      </span>
      <p class="yz-tabbar-label">微信</p>
    </a>
    <a href="javascript:;" class="yz-tabbar-item">
      <img src="../images/icon_tabbar.png" alt="" class="yz-tabbar-icon">
      <p class="yz-tabbar-label">通讯录</p>
    </a>
    <a href="javascript:;" class="yz-tabbar-item">
      <span style="display: inline-block;position: relative;">
        <img src="../images/icon_tabbar.png" alt="" class="yz-tabbar-icon">
        <span class="yz-badge yz-badge_dot" style="position: absolute;top: 0;right: -6px;"></span>
      </span>
      <p class="yz-tabbar-label">发现</p>
    </a>
    <a href="javascript:;" class="yz-tabbar-item">
      <img src="../images/icon_tabbar.png" alt="" class="yz-tabbar-icon">
      <p class="yz-tabbar-label">我</p>
    </a>
  </div>

</div>

