

@import "../../style/base/fn";
@import "vars";


.yz-tab-content{
    display: none;
}

.yz-tabs{
    display: flex;
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FAFAFA;


}
.yz-nav-top {
  .yz-tabs {
    &:after {
        @include setBottomLine(#CCCCCC);
    }
  }
}
.yz-nav-bottom {

  .yz-tabs {
    top: auto;
    bottom: 0;

    &:after {
      @include setTopLine(#CCCCCC);
    }
  }

}

.yz-tabs-item {
    position: relative;
    display: block;
    flex: 1;
    padding: 13px 0;
    text-align: center;
    font-size: $navbarFontSize;
    @include setTapColor();

    &:active {
        background-color: #EDEDED;
    }

    &.yz-tabs-item-on {
        background-color: #EAEAEA;
    }

    &:after {
        @include setRightLine(#CCCCCC);
    }

    &:last-child {
        &:after {
            display: none;
        }
    }
}
