
<div class="yz-cells yz-cells_form">
  <div class="yz-cell">

    <div class="yz-cell__bd">
      <div class="yz-uploader">

        <div class="yz-uploader__hd">
          <p class="yz-uploader__title">图片上传</p>
          <div class="yz-uploader__info">0/2</div>
        </div>
        <div class="yz-uploader__bd">
          <ul class="yz-uploader__files" id="uploaderFiles">
            <li class="yz-uploader__file" style="background-image:url(../images/pic_160.png)"></li>
            <li class="yz-uploader__file" style="background-image:url(../images/pic_160.png)"></li>
            <li class="yz-uploader__file" style="background-image:url(../images/pic_160.png)"></li>
            <li class="yz-uploader__file yz-uploader__file_status" style="background-image:url(../images/pic_160.png)">
              <div class="yz-uploader__file-content">
                <i class="yz-icon-warn"></i>
              </div>
            </li>
            <li class="yz-uploader__file yz-uploader__file_status" style="background-image:url(../images/pic_160.png)">
              <div class="yz-uploader__file-content">50%</div>
            </li>
          </ul>
          <div class="yz-uploader__input-box">
            <input id="uploaderInput" class="yz-uploader__input" type="file" accept="image/*" multiple/>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

