

@import "../../style/base/fn";
@import "tabbar";
@import "navbar";

.yz-tab {
    position: relative;
    height: 100%;
}

.yz-tab__panel {
    box-sizing: border-box;
    height: 100%;
    padding-bottom: 50px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.yz-tab__content{
    display: none;
}
