@import "../../style/base/mixin/setOnepx";

.yz-comments {
  padding: 6px;
  position: relative;
  font-size: 14px;

  &.yz-comments-block{
    border-radius: 4px;
    background-color: #f4f4f6;
    &:before {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      top: -4px;
      right: 12px;
      transform: rotate(45deg);
      background-color: #f4f4f6;
    }
  }

}
.yz-comment-bang {
  position: relative;
  margin-bottom: 10px;
  word-break: break-all;

}
.yz-comment {
  line-height: 1.4;
  margin-bottom: 8px;
  &:last-child {
    margin-bottom: 0;
  }
}

.yz-comment-name {
  color: #576b95;
  font-weight: 500;
}

.yz-comment-tip {
  text-align: right;
  color: #576b95;
  &:before {
    @include setBottomLine();
  }

  .iconfont {
    font-size: 12px;
  }

}
