

// color
// $yzColorPrimary: #1AAD19;
$yzColorPrimary: #ff6469;
$yzColorWarn: #E64340;

// link
$yzLinkColorDefault: #586C94;

// background
$yzBgColorDefault: #EFEFF4;
$yzBgColorActive: #ECECEC;

// line
$yzLineColorLight: #E5E5E5;
$yzLineColorDark: #BCBAB6;

// text
$yzTextColorTitle: #222;
$yzTextColorTips: #B2B2B2;
$yzTextColorWarn: $yzColorWarn;
$yzTextColorGray: #999999;


