
// font
$yzFontEN:-apple-system-font,"Helvetica Neue";
$yzFontCN:"PingFang SC","Hiragino Sans GB","Microsoft YaHei";
$yzFontSans:sans-serif;
$yzFontDefault:-apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
//font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
