<div class="yz-slider">
  <div class="yz-slider__inner">
    <div style="width: 0;" class="yz-slider__track"></div>
    <div style="left: 0;" class="yz-slider__handler"></div>
  </div>
</div>
<br>
<div class="yz-slider-box">
  <div class="yz-slider">
    <div id="sliderInner" class="yz-slider__inner">
      <div id="sliderTrack" style="width: 50%;" class="yz-slider__track"></div>
      <div id="sliderHandler" style="left: 50%;" class="yz-slider__handler"></div>
    </div>
  </div>
  <div id="sliderValue" class="yz-slider-box__value">50</div>
</div>
